<div id="single_column">
	
	<h2 class="thanks">Sorry.</h2>
	<h4 class="thanks">We cannot find what you're looking for. If you believe this is a mistake, please contact <%= mail_to Setting.mail_from %>.</h4>
</div>