*.rbc
*.sassc
.rvmrc
.sass-cache
capybara-*.html
.rspec

/.bundle
/config/database.yml
/config/deploy.rb
/config/settings.yml
/config/snippets.yml
/coverage/
/db/*.sqlite3
/log
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle