 <p><%= @firstname + " " + @lastname + "( " + @email + " )" %> has requested a recommendation for the NSF Research Experience for Undergraduates summer program in Bioengineering at UC San Diego.</p>

<p>Please submit your recommendation by Friday, February 26, 2010 online at: <%= link_to "https://www.be.ucsd.edu/nsfreu/recommendations/new/#{@token}", "https://www.be.ucsd.edu/nsfreu/recommendations/new/#{@token}"%></p>

<p>Thank you so much for taking the time to provide us with this helpful information.</p>