<p>
	Dear Recommender,<br /><br />
	We have received your recommendation for <%= @firstname + " " + @lastname + "( " + @email + " )" %>.  Thank you taking the time to provide us with this helpful information.
</p>