<p><%= @firstname + " " + @lastname + "( " + @email + " )" %> has requested a recommendation for the NSF Research Experience for Undergraduates at the UC San Diego Bioengineering Department.</p>
<p>Please submit your recommendation online at: <%= link_to "http://nsfreu.be.ucsd.edu/recommendations/new/#{@token}", "http://nsfreu.be.ucsd.edu/recommendations/new/#{@token}"%></p>