<p>
	Dear Recommender,<br /><br />
	This is a reminder from the UC San Diego NSFREU program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology. <%= @firstname + " " + @lastname + "( " + @email + " )" %> has requested a recommendation from you. To help us review all applications in a timely manner, please submit your recommendation as soon as possible using the following link <%= link_to ("https://" + Settings.domain + "/recommendations/new/#{@token}"), ("https://" + Settings.domain + "/recommendations/new/#{@token}")%>
</p>

<p>Thank you so much for taking the time to provide us with this helpful information.</p>