<p>Dear <%=h @firstname %>,</p>

<p>This is a reminder from the <%= Setting.department %>, <%= Setting.university %> <%= Setting.application_title %>. Your application is incomplete and will not be reviewed if it is not submitted before the deadline of March 5. Please login and complete your application as soon as possible.</p>

<p>Thanks</p>