<p>This email is to confirm that an account has been created for <%= @firstname + " " + @lastname + "( " + @email + " )" %> for the purpose of applying to the REU program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology at UCSD. In order to complete your application you will need:</p>

<ol>
	<li>The name and contact information of one faculty member who is willing to provide a short letter of recommendation. You should ask the faculty member if they are willing to serve as a reference prior to including this information in your application.</li>
	<li>A copy of your most recent transcript in pdf format (an unofficial copy is fine).</li>
	<li>
		General information to support your application including:
		<ol>
			<li>a list of up to 5 academic awards you have received</li>
			<li>a list of specific lab skills you have acquired in class or through previous research experience</li>
			<li>a list of specific computer skills you have acquired in class or through previous research experience</li>
			<li>a short statement explaining why your GPA does or does not accurately reflect your academic abilities</li>
			<li>a brief essay (up to 250 words) explaining why you are interested in our program and how the experience may help you achieve your future goals</li>
		</ol>
	</li>
</ol>

<p>Please login to continue your REU application by clicking this link: <%= link_to "http://be.ucsd.edu/undergraduate/research/nsfreu/login", "http://be.ucsd.edu/undergraduate/research/nsfreu/login" %></p>