<p>Dear Applicant,</p>

<p>Thank you for your interest in the <%= Setting.department %>, <%= Setting.university %> <%= Setting.app_title %>.  Unfortunately we are not able to offer you a position in the program this summer. We received over 400 applications for ten positions so, unfortunately, we could not accommodate many highly qualified applicants. Thank you for taking the time to apply and please consider re-applying next year.</p>

<p>Best wishes.</p>