<p>Dear Applicant,</p>

<p>Thank you for your interest in the NSF Research Experience for Undergraduates (REU) program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology at the University of California, San Diego.  Unfortunately we are not able to offer you a position in the program this summer. We received hundreds of applications for ten positions so, unfortunately, we could not accommodate many highly qualified applicants. Thank you for taking the time to apply and please consider re-applying next year.</p>

<p>Best wishes,
Melissa</p>

<p>------------------------------------<br />
Melissa Kurtis Micou, Ph.D.<br />
Department of Bioengineering<br />
University of California - San Diego<br />
9500 Gilman Dr #0412<br />
La Jolla, CA 92093-0412<br />
<br />
phone: 	858-822-1087 (x21087)<br />
e-mail: mmicou@bioeng.ucsd.edu<br />
office: 	PFBH 229<br />
------------------------------------
</p>