<p>You or someone have requested to reset the password for your UCSD Bioengineering NSFREU application.  To continue, please click the following link: <%= link_to ("https://" + Settings.domain + "/users/reset/#{@user.token}"), ("https://" + Settings.domain + "/users/reset/#{@user.token}") %></p>

<p>If you did not make this request, please contact us at <%= mail_to 'help@be.ucsd.edu', 'help@be.ucsd.edu' %>.</p>

<p>Thanks</p>