<p>Dear Applicant,</p>

<p>Thank you for your interest in the <%= Setting.department %>, <%= Setting.university %> <%= Setting.app_title %>. The response to our program was overwhelming- we received over <%= @app_count %> applications for only ten positions. Although I cannot offer you a position in the program at this time, because of the strength of your application I would like to place you on our short wait list. If you have already made alternate plans for the summer please let me know. Otherwise, I will be in touch to give you an update in ~2 weeks. Thank you for your patience.</p>