<h1>Editing recommendation</h1>

<%= error_messages_for :recommendation %>

<% form_for(@recommendation) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @recommendation %> |
<%= link_to 'Back', recommendations_path %>
