<div id="single_column">
	<%= render :partial => "application/header" %>
	<h2>Summer 2008 Online Recommendation</h2>
	<div id="application">
	<h5>You need a valid student ID in order to give a recommendation. Please check the link and try again.</h5>
	</div>
</div>