<div id="single_column">
	<%= render :partial => "application/header" %>
	<h2 class="thanks">Thanks!</h2>
	<h4 class="thanks">Your application has been successfully submitted. More information will go here.</h4>
</div>