<div id="single_column">
	<div id="header">
		<a href="http://ucsd.edu" target="_blank"><img alt='Ucsd_logo' id='ucsd' src='images/ucsd_logo.gif' /></a>
		<a href="http://nsf.gov" target="_blank"><img alt='Ucsd_logo' id='nsf' src='images/nsf_logo.gif' /></a>
		<h5>Research Experience for Undergraduates (REU)<br /> in Regenerative Medicine, Multi-Scale Bioengineering,<br /> and Systems Biology</h5>
		<h6>University of California, San Diego | Department of Bioengineering</h6>
	</div>
	<div id="welcome">
		<h2>June 19 - August 23, 2008</h2>
		<p>The <%= link_to "Department of Bioengineering", "http://bioengineering.ucsd.edu/", :target => "_blank" %> at the <%= link_to "University of California, San Diego", "http://ucsd.edu", :target => "_blank" %> is pleased to announce a National Science Foundation Research Experience for Undergraduates (<%= link_to "NSF-REU", "http://www.nsf.gov/crssprgm/reu/", :target => "_blank" %>) program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology.</p>
		<p>This exciting summer program provides undergraduate students access to state-of-the-art facilities, the opportunity to work with accomplished and experienced faculty mentors, and to participate in highly collaborative, cutting-edge research projects. In addition to the training students receive in individual research laboratories, extensive professional development opportunities will be provided through weekly workshops, an undergraduate research conference, panel discussions, and GRE preparation courses.</p> 
		<div class="lists">
			<h4>Highlights</h4>
			<ul>
			 	<li>$4,000 stipend</li>
			 	<li>free on-campus housing or housing allowance</li>
			 	<li>free travel to and from San Diego</li>
			 	<li>hands-on research experience</li>
			 	<li>present at the UCSD Summer Research Conference</li>
			 	<li>GRE preparation courses</li>
			 	<li>professional workshops &amp; networking events</li>
			</ul>
		</div>
		<div class="lists">
			<h4>Eligibility Requirements</h4>
			<ul>
			 	<li>full-time undergraduate student</li>
			 	<li>graduating fall 2008 or later</li>
			 	<li>U.S. citizen or permanent resident</li>
			</ul>
		</div>
		<p id="applyp"><%=link_to "<img alt='Apply Now' id='apply' src='images/apply.gif' />", "http://nsfreu.be-rails.ucsd.edu/apply", :id => "applylink" %></p>
		<div id="images">
			<img alt="Library" id="library" src="images/library.jpg" />
			<img alt="Sun_god" id="sun_god" src="images/sun_god.jpg" />
			<img alt="Shores" id="shores" src="images/shores.jpg" />
		</div>
	</div>
</div>