<div id="single_column">
	<%= render :partial => "application/header" %>
	<h2>Summer 2008 Online Application</h2>
	<div id="about">
		<h5>Submission Deadline:&nbsp;<span class="blood_red">Rolling Admissions</span></h5>
		<h5 id="eligibilty">Eligibility:</h5>
		<ul class="bold blood_red">
			<li>You must be a current, full-time undergraduate student</li>
			<li>You must not plan to graduate before fall</li>
			<li>You must be a U.S. citizen or permanent resident</li>
		</ul>	
	</div>
	<div id="application">
		<p>Welcome to the splash screen. More information and a link will go here.</p>
		<p>You can apply online at <%=link_to "http://nsfreu.be-rails.ucsd.edu/apply", "http://nsfreu.be-rails.ucsd.edu/apply" %> </p>
	
	</div>
</div>