<section id='subheader'>
  <div class="container">
    <%= raw @page.content_for(:top) %>
  </div>
</section>

<section id='tryit'>
  <div class="container">
    <%= raw @page.content_for(:middle) %>
  </div>
</section>

<section id='bullets'>
  <div class="container">
      <%= raw @page.content_for(:bottom) %>
  </div>
</section>
