<div id="admin_header">
	<% if @all_students -%>
		<div id="search">
			<% form_tag(url_for(:controller => "admin", :action => 'list'), :method => 'get', :class => 'clearfix') do %><%= text_field_tag 'q', params[:q] || "Search...", :onfocus => "if ($('q').value == 'Search...') $('q').value = '';", :onblur => "if ($('q').value == '') $('q').value = 'Search...';" %><% end -%>
		</div>
		<h6 class='left'>
			&nbsp;&nbsp;<label>Filter by application status:</label> <%= (select_tag "application_status", options_for_application_status) %>
		</h6>
		<h6 class='right'>
			<label>View application:</label> <%= (select_tag "student_select", options_for_student_select(all_students, "id", "lastname", "firstname", "status", admin_selected_user )) %>
		</h6>
	<% end -%>
</div>
<hr />