<div id="single_column">
	<div id="header">
		<a href="http://ucsd.edu" target="_blank"><img alt='Ucsd_logo' id='ucsd' src='images/ucsd_logo.gif' /></a>
		<a href="http://nsf.gov" target="_blank"><img alt='Ucsd_logo' id='nsf' src='images/nsf_logo.gif' /></a>
		<h5>Research Experience for Undergraduates (REU)<br /> in Regenerative Medicine, Multi-Scale Bioengineering,<br /> and Systems Biology</h5>
		<h6>University of California, San Diego | Department of Bioengineering</h6>
	</div>
	<div id="admin">
		<h1>Administration Menu</h1>
		<h5><%= link_to "Student Applications", :controller => "students" %></h5>
		<h5><%= link_to "Recommendations", :controller => "recommendations" %></h5>
		<h5><%= link_to "Create report of all applications and recommendations", "" %></h5>
		<h5><%= link_to "Administer the Administrators", "" %></h5>
	</div> 
</div>