<%= app_navbar %>
			
<% form_for( @academic_record, :url => { :action => "create", :id => @user.id }, :method => "post", :html => { :multipart => true } ) do |f| %>
	<%= render :partial => 'academic_information', :locals => { :f => f } %>
	<p id="submit"><%= f.submit "Save", :onclick => "$('submit').hide();$('overlay').show();$('opaque_overlay').show();$('wait_box').show();" %></p>
<% end %>

<div id="observers">
	<%= render :partial => "layouts/observers" %>
</div>