<div id="single_column">
	
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<h2 class="thanks">Sorry.</h2>
	<h4 class="thanks">We cannot find your record. If you believe this is a mistake, please enter your email below to resend the confirmation.</h4>
</div>