/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	CSS by Justin James Grevich (jgrevich@gmail.com)

Colors:
 * Body Background: 	171B20
 * Body Top Stripe:     0D0F10
 * Dark gray Section:   121519
 * Body Font:			CCC
 * Blue Links:          09F
 * Link Hover:			3CF
 * Headline Green:      96BF55
 * Background Green:    83A94A
 * Section gray:        1D2128
 * Light Yellow:		FF9
 * Dark Green Links:    33421D 
 * Dark Green Hover:    1A210E
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen, print, projection {
	body 									{  font-family:Tahoma,"Lucida Sans Unicode",Verdana,sans-serif; font-size:62.5%; padding:20px 0 0 0;  text-align:center;background:#9aa2ae url(../images/background_repeat_x.gif) repeat-x; color:#333; text-shadow:#121212 0 0 0; }
	:link,:visited                          {  text-decoration:none;  }
	ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
	body,html,p,blockquote,fieldset,input,
	select, textarea						{  margin:0; padding:0;  }
	select, input, textarea 				{  font:99% arial,helvetica,clean,sans-serif;  }
	table 									{  font-size:inherit;  }
	a										{  color:#343434;border:none;  }
	a:visited								{  border:none;  }
	a:hover 								{  color:#666; border-bottom:1px dotted #006500;  }
	a img, a:hover img						{  border:none;  }
	h1,h2,h3,h4,h5,h6						{  font-variant:small-caps;  }
	h1 a									{  color:#069}
	h1 a:hover, h3 a:hover					{  color:#96BF55;border-bottom:1px dotted silver;  }
	h1 										{  font-size:2.8em;color:#333;  }
	h2										{  font-size:2.5em;  }
	h3										{  font-size:2.2em;  }
	h4										{  font-size:1.9em;  }
	h5                                      {  font-size:1.6em;  }
	h6										{  font-size:1.3em;  }
	h6 a:hover								{  border-bottom:1px dotted #006500;  }
	p										{  font-size:1.4em;margin:0 0 8px 0;text-indent:0;	}
	ol										{  margin-left:35px;  }
	ul										{  list-style-type:none;  }
	ul li									{  margin:0 0 0 5px; padding:0 0 0 10px;  }
	strong									{  font-weight:bold; color:#FF9;  }
	img										{  padding:0;  }
	code									{  background:#171B20;padding:1px 2px;font-size:0.9em;color:#EEE;font-family:Monaco,"Courier New",Courier,mono;  }
	blockquote								{  background:#171B20;padding:20px;margin:0 0 1.6em;font-style:italic;  }
    pre                              		{  font-size:0.9em; width:100%; overflow:auto;  }
    fieldset								{  border:none;  }
	label									{  display:inline-block; text-align:left; text-indent:0;  }
	hr										{  margin:2px;padding:0;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	#page 									{  width:800px; margin:20px auto; }
	#single_column							{  background-color:white; border:2px solid #777; margin:0; padding:0 0 20px 0; width:800px;  }
	#content								{  float:left;background-color:white;border:3px solid #aaa;border-top:none;padding:10px 10px 25px 10px; width:580px;  }
	#sidebar 								{  float:right;width:190px;text-align:left;  }
	#sidebar ul 							{  margin-left:0;padding-left:0;  }
	#sidebar ul h3 							{  margin-top:25px;font-size:1.6em;padding-bottom:5px;border-bottom:1px solid #ccc;  }
	#sidebar li 							{  list-style-type:none; font-size:1.2em;  }
	#sidebar ul.links li 					{  margin-bottom:5px;  }
	#footer 								{  clear:both;margin:5px 0 50px 0;font-size:1.1em;  }
	#footer p								{  font-size:1.1em;  }
	#header									{  width:800px;padding:17px 0 0 0;text-align:center;  }
	#header h1, #header h2 					{  margin:0  }
	#header h2 								{  color:#888;font-weight:normal;font-size:16px;  } 
	#header h5								{  padding:0 10px 10px 10px;clear:none;display:inline;  }
	#header h6								{  margin:10px 0 0 0;padding:6px;font-weight:bold;color:#eee;background-color:#333;clear:both;  }
	#header h6 a							{  color:#eee;  }
	#header #ucsd							{  height:60px;margin:0 0 0 15px;width:79px;clear:none;float:left;  }
	#header #nsf							{  height:60px;margin:0 15px 0 0;width:60px;clear:none;float:right;  }
	#notice, #error							{  color:red; font-size:1.8em; margin:0 15px;  }
	.blood_red								{  color:#7e0815;  }
	.bold									{  font-weight:bold;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Welcome
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/	
	#welcome								{  margin:10px 40px; text-align:left;  }
	#welcome h2								{  margin:0 0 10px; text-align:center;  }
	#welcome h4, #welcome h6				{  text-align:center;  }
	#welcome ul								{  font-size:1.4em; margin:0 0 20px 0; list-style-type:disc;  }
	#welcome p								{  margin:20px 0;  }
	#bicolumn								{  padding:0 20px;  }
	#welcome .left							{  float:left; padding:0 20px; width:43%;  }
	#welcome .right							{  float:right; padding:0 20px; width:43%;  }
	#apply									{  margin:10px 0 20px;  }
	#applyp									{  text-align:center; clear:both;  }
	#applylink:hover						{  border:0;  }
	#images									{  margin:0 52px 30px;  }
	#status-form table 						{  font-size:1.4em; font-weight:bold; margin:2em 0; padding:1em; margin-left:auto; margin-right:auto; border:2px solid #FDBF3B; background-color:#FFEBC1; }
	#status-form table tr					{  margin:0; padding:0; }
	#status-form table td 					{  padding:3px; }
	#status-form table td p					{  margin:0; padding:0;  }	
	#status-form table td.input				{  }
	#status-form table td.status_header		{  width:37em; padding:10px 0;  }
	#status_error							{  color:red; font-size:1.4em;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Users
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	#app_navbar								{  border-bottom:2px dotted #666; margin:2em 0 0; padding:1em 0 4px; text-align:center; }
	#app_navbar li							{  display:inline-block; font-size:1.8em; margin:0 1px;  }
	#app_navbar li a						{  background-color:#dfdfdf; border-bottom:1px solid #dfdfdf;  padding:1px 4px; }
	#app_navbar li a.active					{  background-color:#fff;  }
	#app_navbar li a:hover 					{  color:#666; border-bottom:1px solid #aaa;  }
	#application h1#app_submit				{  text-align:center; }
	
	#about									{  margin:10px 220px 0;text-align:left;width:360px;  }
	#about h5								{  margin:0;  }
	#about ul								{  font-size:1.2em;  }
	#application							{  text-align:left;  }
	#application h4							{  margin:20px 10px 10px; color:#07243c; font-weight:normal; font-variant:normal; border-bottom:2px dotted #666; }
	#application h5							{  margin:20px 30px;text-align:center;  }
	#application fieldset					{  margin:0 80px;  }
	#application .fieldbox					{  float:left;margin:10px 11px 5px 1px;font-size:1.2em; }
	#application label						{  margin:0 0 0 3px ;font-size:1.2em;font-weight:bold;  }
	#application div input,
	#application .fieldbox input			{  border:1px solid #bbb;font-size:1.4em;padding:3px;clear:none;  }
	#application textarea					{  border:1px solid #bbb;font-size:1.3em;padding:3px;clear:both;width:640px;  }
	.float									{  clear:none;float:left;margin:10px 11px 5px 1px; }
	.small									{  display:block;float:none;padding-top:10px;	 }
	.tall									{  height:60px; 	}
	.clear 								    {  clear:both;margin:10px 11px 5px 1px;font-size:1.2em;  }
	.hidden									{  clear:both;  }
	h1#flash									{  text-align:center;color:#7e0815;  }
	#user_firstname						{  width:160px;  }
	#user_middlename						{  width:160px;  }
	#user_lastname						{  width:160px;  }
	#user_street, #user_pstreet		{  width:560px;  }
	#user_city, #user_pcity			{  width:170px;  }
	#user_state, #user_pstate			{  width:170px;  }
	#user_zip, #user_pzip				{  width:170px;  }
	#user_phone, #user_pphone			{  width:170px;  }
	#user_email							{  width:360px;  }
	#user_cresidence						{  width:185px;  }
	#presidence								{  clear:both;height:200px;width:640px;  }
	/* stupid IE needs special rules here, other wise you'll have a border around the radio buttons */
	div input#paddress_yes,div input#paddress_no, input#academic_record_college_level_freshman, input#academic_record_college_level_sophomore, input#academic_record_college_level_junior, 
	input#academic_record_college_level_senior, input#academic_record_learn_nsf_reu_website, input#academic_record_learn_professor, input#academic_record_learn_poster, input#academic_record_learn_email,
	input#academic_record_learn_other				{  border:0;  }
	#disclaimer								{  clear:both; margin:10px 0; text-align:center;  }
	#academic_record_college, 
	input#academic_record_prev_college  			{  width:370px;  }
	#academic_record_college_start, #academic_record_college_end, #academic_record_pcollege_start, #academic_record_pcollege_end		{  width:50px;  }
	#academic_level							{  margin:15px 0;  }
	#academic_record_major							{  width:370px;  }
	#academic_record_gpa, #academic_record_gpa_range		{  width:40px;  }
	#extra_awards							{  height:6.2em;  }
	#extra_lab_skills						{  height:6.2em;  }
	#extra_comp_skills					{  height:6.2em;  }
	#extra_gpa_comments					{  height:6.2em;  }
	#extra_personal_statement				{  height:18.6em;  }
	#extra_submit							{  margin:20px 0 10px 330px;clear:both;font-size:1.8em;  }
	#recommender_name, #recommender_title,
	#recommender_department					{  width:180px;  }
	#recommender_college					{  width:370px;  }
	#recommender_phone						{  width:180px;  }
	#recommender_email						{  width:380px;  }
	.thanks									{  margin:20px 0 40px 0;  }
	#simple_captcha							{  margin:0 0 0 300px;width:200px;height:100px;  }
	#students table							{  border:1px dashed silver;margin:30px 20px;  }
	#students table th						{  font-size:1.3em;padding:3px 6px 1px 6px;text-align:left;  }
	#students table td						{  padding:3px 6px;text-align:left;  }
	#students table td.name					{  width:90px;  }
	#students table td.college				{  width:160px;  }
	#students table td.major				{  width:150px;  }
	#students table td.gpa					{  width:50px;  }
	#students table td.date					{  width:110px;  }
	#students table td.admin				{  width:20px;  }	
	#students h6							{  color:gray;  }
	#user_application					{  padding:0 20px 40px;text-align:left;  }
	#user_application h1					{  margin:10px 0 30px;text-align:center;  }
	#user_application p					{  font-size:1.2em;  }
	#status									{  padding:5em 2em;  }
	#status h1								{  margin:0 0 10px 0;  }
	#admin_links							{  margin:0;padding:0;}
	#admin_links a							{  padding:3px;  }
	#admin_links a:hover					{  background:#ccc;color:#000;  }
	#admin_links a.active					{  background:#96BF55;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Recommendations
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	#user_info							{  margin:0 10px;  }
	#recommendation_gpa, 
	#recommendation_gpa_range				{  width:40px;  }
	#recommendation_faculty_comment			{  height:12.4em;  }
	#recommendation_submit, #academic_record_submit, #submit	{  margin:20px 0 10px 315px;clear:both;font-size:1.8em;  }
	#recommendation							{  padding:0 20px 40px;text-align:left;  }
	#recommendation h1						{  margin:10px 0 30px;text-align:center;  }
	#recommendation p						{  font-size:1.2em;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Login
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	.login_logout							{  margin:0 15px 10px; text-align:right;  }
	fieldset#login							{  width:360px; margin:20px 210px; padding:10px; border:1px dashed gray;  }
	fieldset#login#login form				{  padding:0 50px;  }
	fieldset#login#login p					{  width:260px; height:40px; padding:0; text-align:left; font-weight:bold; font-variant:small-caps;  }
	input#login, input#password				{  width:250px; padding:4px; border:1px dotted silver; font-size:1.2em;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Admin
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	#admin									{  padding:20px;  }
	#admin h1								{  margin:0 0 20px 0;  }
	#admin h5								{  margin:8px 0;  }
	#admin a								{  padding:3px;  }
	#admin a:hover							{  background:#ccc;color:#000;  }
	#admin a.active							{  background:#96BF55;  }
	#admin_header							{  margin:3px 0 3px 0;  }
	#admin_header h5						{  margin:7px;  }
	#admin_header a							{  padding:3px;  }
	#admin_header a:hover					{  background:#ccc;color:#000;  }
	#admin_header a.active					{  background:#96BF55;  }
	#selector								{  border:2px solid #FDBF3B;  background-color:#FFEBC1;  margin:2em auto;  padding:1em;  width:48em;  }
	#selector h4							{  margin:0 0 1em;  }
	#selector h5							{  margin:0.2em;padding:0.3em;  }
	#selector h5 a							{  padding:0.3em;  }
	#selector h5 a:hover					{  background:#96BF55;  border:2px solid #fff;  color:#111;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Errors
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	.fieldWithErrors						{  font-size:1.4em; padding:3px; background-color:red; display:inline-block; }
	#errorExplanation 						{  background-color:#f0f0f0; border:2px solid red; padding:7px 7px 12px 7px; margin:20px 0 0 140px; text-align:left; width:500px;  }
	#errorExplanation h2 					{  text-align:left;font-weight:bold;margin:-7px -7px 10px -7px;padding:5px 5px 5px 15px;font-size:1.8em;background-color:#c00;color:#fff;  }
	#errorExplanation p 					{  color:#333;margin-bottom:0;padding:5px;  }
	#errorExplanation ul li 				{  margin-left:20px;font-size:12px;list-style:square;  }
	div.uploadStatus 						{  margin:5px;  }
	div.progressBar 						{  margin:5px;  }
	div.progressBar div.border 				{  background-color:#fff;border:1px solid gray;width:100%;  }
	div.progressBar div.background 			{  background-color:#333;height:18px;width:0%;  }
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
CAPTCHA
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	#simple_captcha 							{  border:1px solid #ccc; margin:0; padding:0px !important;  }
	#simple_captcha, #simple_captcha div		{ }
  	#simple_captcha .simple_captcha_field,
  	#simple_captcha .simple_captcha_image		{  border:1px solid #ccc; margin:0px 0px 2px 0px !important; padding:0px !important;  }
	#simple_captcha .simple_captcha_image img	{  margin:0px !important; padding:0px !important; width:110px !important;  }
	#simple_captcha .simple_captcha_label		{  font-size:1.2em;  }
	#simple_captcha .simple_captcha_field input {  width:150px !important; font-size:1.6em; border:none; background-color:#efefef;  }
}