.navbar.container
  %nav.navbar-inner
    %ul.nav
      - if params[:controller] == 'welcome'
        %li.active
          =link_to "Welcome", root_path, :class => 'active'
      - else
        %li
          =link_to "Welcome", root_path, :class => 'active'
      - if params[:controller] == 'applicants/registrations' && params[:action] !=  'status'
        %li.active
          - if applicant_signed_in?
            =link_to "Profile", edit_applicant_registration_path, :class => 'active'
          - else
            =link_to "Apply Now", new_applicant_registration_url, :class => 'active'
      - else
        %li
          - if applicant_signed_in?
            =link_to "Profile", edit_applicant_registration_path, :class => 'active' unless current_applicant.submitted_at
          - else
            =link_to "Apply Now", new_applicant_registration_url, :class => 'active'

      - if params[:controller] == 'applicants/academic_records'
        %li.active
          - if applicant_signed_in?
            =link_to "Academic Records", applicants_records_url, :class => 'active' unless current_applicant.submitted_at
      - else
        %li
          - if applicant_signed_in?
            =link_to "Academic Records", applicants_records_url, :class => 'active' unless current_applicant.submitted_at


      - if params[:controller] == 'applicants/recommenders'
        %li.active
          - if applicant_signed_in?
            =link_to "Recommendation", applicants_recommenders_url, :class => 'active' unless current_applicant.submitted_at
      - else
        %li
          - if applicant_signed_in?
            =link_to "Recommendation", applicants_recommenders_url, :class => 'active' unless current_applicant.submitted_at


      - if params[:controller] == 'applicants/registrations' && params[:action] ==  'status'
        %li.active
          - if applicant_signed_in?
            =link_to "Status", applicant_status_url, :class => 'active'
      - else
        %li
          - if applicant_signed_in?
            =link_to "Status", applicant_status_url, :class => 'active'

      - if params[:controller] == 'applicants/sessions'
        %li.active
          - if applicant_signed_in? || user_signed_in? #|| user_signed_in?
            = user_signed_in? ? link_to("Logout", destroy_user_session_path, :method => :delete) : link_to("Logout", destroy_applicant_session_path, :method => :delete)
          - else
            = link_to "Login", new_applicant_session_url, :class => 'active'
      - else
        %li
          - if applicant_signed_in? || user_signed_in? #|| user_signed_in?
            = user_signed_in? ? link_to("Logout", destroy_user_session_path, :method => :delete) : link_to("Logout", destroy_applicant_session_path, :method => :delete)
          - else
            = link_to "Login", new_applicant_session_url, :class => 'active'
      =content_tag :li, link_to('Admin', rails_admin_path) if current_user
