<label>Is the above address your permanent residence?</label>
&nbsp;
<label>Yes</label><%= radio_button_tag 'paddress', 'yes', false %>
&nbsp;&nbsp;
<label>No</label><%= radio_button_tag 'paddress', 'no', true %>