<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Thanks!</h1>
	<p>Your account has been activated. Please <%= link_to "login", { :controller => "sessions", :action => "new" } %> to continue your application.</p>
</div>