<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<h2 class="thanks">Thanks!</h2>
	<h4 class="thanks">Your application was successfully submitted.</h4>
	<h4 class="thanks">We have also sent an email confirmation to your address.</h4>
</div>