<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Thanks!</h1>
	<p>Please check your mail for further instructions.  If you do not receive the message, please contact us at <%= mail_to Setting.mail_from %>.</p>
</div>