<%= render :partial => "layouts/header_text" %>

	<% @user.password = @user.password_confirmation = nil %>

	<% form_for :user, :url => users_path do |f| -%>
		<%= render :partial => 'personal_data', :locals => { :f => f } %>		
		
		<p class="right" id="submit"><%= submit_tag 'Sign up', :onclick => "$('submit').hide();$('overlay').show();$('opaque_overlay').show();$('wait_box').show();" %></p>
		<br class="clear" />
	<% end -%>

<div id="observers">
	<%= render :partial => "layouts/observers" %>
</div>