<div class="span-13 push-5 bordered colored padded rounded">
	<h2>Thanks!</h2>
	<p>Your recommendation has been submitted.</p>
	<p>Thank you for taking the time to evaluate this applicant. Your opinion will be carefully considered during participant selection.</p>
</div>