<div class="span-13 push-5 bordered colored padded rounded">
	<h4><%= link_to_unless_current "Application Status", { :controller => "users", :action => "edit" } %> | <%= link_to_unless_current "Resend Recommendation Request", "/resend_request" %></h4>
	<p>Your recommendation request has been submitted.</p>
</div>