<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Thanks!</h1>
	<p>You have been logged out and your application is saved. Please remember to complete your application before the deadline.</p>
</div>