<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<h2 class="thanks">Thanks!</h2>
	<h4 class="thanks">Your registration has been successfully submitted. Please check your email to verify your account and continue your application.</h4>
</div>