<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Thanks!</h1>
	<p>Your registration has been submitted. Please check your email to activate your account and continue the application.</p>
</div>