<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Thanks!</h1>
	<h4>Your registration has been submitted. Please check your email to confirm your account and continue the application.</h4>
</div>