<section>
  <h3>Program Highlights</h3>
  <%= CONFIG[:highlights] %>
</section>

<section>
  <h3>Eligibility Requirements</h3>
  <%= CONFIG[:eligibility_requirements] %>
</section>

<section>
  <h3>Application Information</h3>
  <%= CONFIG[:application_information] %>  
</section>

