<section>
  <h3>Program Highlights</h3>
  <%= raw Markdown.render(Setting[:highlights]) %>.
</section>

<section>
  <h3>Eligibility Requirements</h3>
  <%= raw Markdown.render(Setting[:eligibility_requirements]) %>.
</section>

<section>
  <h3>Application Information</h3>
  <%= raw Markdown.render(Setting[:application_information]) %>.
</section>

