<section>
  <h3>Program Highlights</h3>
  <%= raw Snippet[:highlights] %>
</section>

<section>
  <h3>Eligibility Requirements</h3>
  <%= raw Snippet[:eligibility_requirements] %>
</section>

<section>
  <h3>Application Information</h3>
  <%= raw Snippet[:application_information] %>
</section>

