<div class='inner'>
  <h1>Registration Closed</h1>
  <p>The 2012 application process is now closed and applicants will be notified shortly.  If you are interested in applying for the 2013 academic year, please check back in early september.</p>
</div>