<div class='inner'>
  <h1>Registration Closed</h1>
  <p>The <%=  Setting[:program_start_date] %> application process is now closed and applicants will be notified shortly.  If you are interested in applying for the next academic year, please check back in early september.</p>
</div>
