<h4>Home</h4>
<h1>A One Stop Application Manager</h1>
<h2>Your Entire Application Process in One Convenient Location</h2>


<% if request.original_url == "http://lvh.me:3000/"  %>
  <%= link_to 'Sign Up', new_grant_path %>
<% end %>
