<%= app_navbar %>

<% form_for(@recommender, :url => {:action => "update"}, :method => "put") do |r| %>
	<%= render :partial => "recommender_information", :locals => { :r => r }%>
    <p id="submit"><%= r.submit "Update", :onclick => "$('submit').hide();$('overlay').show();$('opaque_overlay').show();$('wait_box').show();" %></p>
	<br style="clear:both;" />	
<% end %>