<h1>Listing recommenders</h1>

<table>
  <tr>
  </tr>

<% for recommender in @recommenders %>
  <tr>
    <td><%= link_to 'Show', recommender %></td>
    <td><%= link_to 'Edit', edit_recommender_path(recommender) %></td>
    <td><%= link_to 'Destroy', recommender, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recommender', new_recommender_path %>
