
<%= render :partial => "layouts/app_navbar" %>


<% form_for(@recommender, :url => { :action => "create" }, :method => "post") do |r| %>
	<%= render :partial => "recommender_information", :locals => { :r => r }%>
	<br style="clear:both;" />
	<p id="submit"><%= r.submit "Save", :onclick => "$('submit').hide();$('overlay').show();$('opaque_overlay').show();$('wait_box').show();" %></p>
<% end %>