<div class='container'>
  <div class="inner">
    <%= render(:partial => "/refinery/menu", :locals => { :dom_id => 'menu', :css => 'menu navbar pull-right' }) %>
    <h1><%= link_to Refinery::Core.site_name, root_url %></h1>
  </div>
</div>