<div class="span-13 push-5 bordered colored padded rounded">
	<h1>I'm sorry</h1>
	<p>We cannot process the form you submitted due to the concern it may be a forged or a duplicate.</p>

	<p>You either hit the back-button or do not have cookies enabled with our site. Our forms require the use of a cookie to encode a unique and time-sensitive token. Internet Explorer's security settings may be rather confusing in this area and it may be easier to use <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox</a>, <a href="http://www.google.com/chrome">Chrome</a>, or <a href="http://www.opera.com/">Opera</a>.</p>

	<p>If you continue to have problems, please contact us at <a href="mailto:nsfreu@be.ucsd.edu">nsfreu@be.ucsd.edu</a>.</p>
</div>