<div class="span-13 push-5 bordered colored padded rounded">
	<h1>Uh oh</h1>
	<p>We seemed to have run into an error.</p>
    <p>We apologize for any inconvenience this may have caused and have been notified of error. Please give us a few hours to fix this. If this error persists, please contact us at <a href="<%= Setting.mail_from %>"><%= Setting.mail_from %></a></p>
</div>