@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

input.text, input.title, input[type="email"], input[type="text"], input[type="password"] { }

body { background-color:#eee; padding:0 0 4em; }
body,h1,h2,h3,h4,h5,h6,p,li {color:#2C4056; font-weight:300;}

i { width:inherit; }
.clear {clear:both;}
.navbar .nav > li > a:hover { }
nav.navbar-inner { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-top:0; padding:0;
  a:hover { }}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { background-color:#f6f6f6;}

header { background-color:#507AAA;
  .header-inner {
    padding:0 20px;
    a { color: #eee;}
    h1 { color:#eee; font-size:2em; font-weight: normal;  }
    h2 { color:#eee; font-size:1.6em; font-weight: normal; }
  }
}

div.content { background-color:#fff; border: 1px solid #D4D4D4; margin:10px auto 0; background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
    border: 1px solid #D4D4D4;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  .inner { padding:20px; }
  hr.inner { padding:0 20px 0 20px; margin:1em 0 1em 20px; }}

.app_button { padding:2em; text-align: center;}

div.container.devise { background-color:#fff; border:1px solid #aaa; border-radius:4px; margin:34px auto 0; padding:0; width:590px;
  #status { padding:20px; }
  h2 { background-color:#2C4056; color:#fff; padding:0 20px; }
  h3.alert { border:0; padding:0; margin:0;}
  h3.success { border:0; padding:0; margin:0;
    a {font-style:none;}}
  form {padding:20px;
    label { font-size:1.3em; }
    input {font-size:1.2em; }
    #submit { margin-right:68px; text-align:right; }
    .inline label { display:inline-block; margin-right:10px; text-align:right; width:200px; }}
  #error_explanation { width:932px;
    ul li { float:left; padding:0 34px 0 0; }}}

form {
  input[type="file"] { height:18; line-height: 1; }
  .dropdown { top:4em; }
  small { position:relative; top:1.4em; }
  select.state_select { width:100%; }
  .field_with_errors {
    select {background-color:#FBC2C4;}
  }
  .row {
    .inner { padding:0 20px; }}}


.application_nav {
  .dropdown-menu { border:0; display:block; padding:0;
    li {
      a:hover { background-image:none; background-color:inherit; color:#333; }
      }
    li.active {
      a { background-image:none; background-color:inherit; color:#333; }
      a:hover { background-image:none; background-color:inherit; color:#333; }
          }
    .alert { border:none; margin:0;
      }}}

footer.container { font-size:0.8em;
  .footer-inner { padding:0 20px; }}

.field_with_errors { color:#8A1F11; display:inline;
  input, label.radio, textarea { background-color:#FBC2C4; }}

#flash {
  .alert { font-size:1.4em; padding:32px 35px 32px 14px; }
}

#error_explanation { background-color:#f2dede; border:2px solid #eed3d7; color:#b94a48; font-weight:200; margin:10px 0; padding:7px; text-align:left;   -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  h2 { text-align:left; font-weight:normal; margin:2px -7px 10px -7px; padding:5px 5px 5px 15px; font-size:1.6em; background-color:#f2dede; color:#b94a48; }
  p	{ color:#333; font-size:1.4em; font-weight:bold; margin-bottom:0; padding:5px; }
  ul { margin:1em 3em; }
  ul li	{ font-size:1.2em; list-style:square; }
  p:first-letter { font-size:1.8em; }}


.deadline {
  text-align: center;
  margin: 40px 0 0 0;
}

#homeText {
  color: blue;
}