<div id="mentor_observers">
    <%= observe_field :extra_mentor1, :url => {:action => :mentor}, :frequency => 0.25, :with => "'mentor1=' + value" %>
    <%= observe_field :extra_mentor2, :url => {:action => :mentor}, :frequency => 0.25, :with => "'mentor2=' + value" %>
    <%= observe_field :extra_mentor3, :url => {:action => :mentor}, :frequency => 0.25, :with => "'mentor3=' + value" %>    
</div>
