<div id="project_observers">
    <%= observe_field :extra_project1, :url => {:action => :project}, :frequency => 0.25, :with => "'project1=' + value" %>
    <%= observe_field :extra_project2, :url => {:action => :project}, :frequency => 0.25, :with => "'project2=' + value" %>
    <%= observe_field :extra_project3, :url => {:action => :project}, :frequency => 0.25, :with => "'project3=' + value" %>    
</div>
