<div id="header">
	<%= link_to image_tag("ucsd_logo.gif", :id => "ucsd"), "http://ucsd.edu", :target => "_blank" %>
	<%= link_to image_tag("nsf_logo.gif", :id => "nsf"), "http://nsf.gov", :target => "_blank" %>
	<h5>Research Experience for Undergraduates (REU)<br/> in Regenerative Medicine, Multi-Scale Bioengineering,<br/> &amp; Systems Biology</h5>
	<h6>University of California, San Diego - Department of Bioengineering</h6>
</div>