<ul id="sidebar-items">
	<li>
		<h3>Administration</h3>
		<ul class="links">
			<li><%= link_to "Home", :controller => :admin %></li>
			<li><%= link_to "New User", :controller => :admin %></li>
			<li><%= link_to "Logout", :controller => :users %></li>
		</ul>
	</li> 
</ul>