<div id="header">
	<h1>
		<br />
		<%= link_to Setting.university, "http://www.ufl.edu/" %>, 
		<%= link_to Setting.department, "http://mse.ufl.edu/" %>
	</h1>
	<%= render :partial => "layouts/buttons" %>
</div>