<%= link_to image_tag("nsf_logo.gif", :id => "nsf"), 'http://www.nsf.gov/crssprgm/reu/' %>
<div class="center" id="header_text">
	<h1>NSF Research Experience for Undergraduates</h1>
	<h3>2011 Program Dates: June 11 - August 19</h3>
</div>