<%= image_tag "nsf_logo.gif", :id => "nsf" %>
<div class="center" id="header_text">
	<h1>NSF Research Experience for Undergraduates</h1>
	<h3>Please check back in February for Summer 2011 Information</h3>
</div>