<%= image_tag "nsf_logo.gif", :id => "nsf" %>
<div class="center" id="header_text">
	<h1>NSF Research Experience for Undergraduates</h1>
	<h3>June 19 - August 27, 2010</h3>
	<h4><b>Application Deadline:</b> February 26, 2010</h4>
</div>