<div id="header_text">	
	<h2 class="center">
		<b>Annual Holiday Party</b>
	</h2>
	<p class="center">
		<b>Wednesday, December 16, 2009</b><br />
		3:00 p.m. to 5:00 p.m.<br />
		Fung Auditorium, Powell-Focht Bioengineering Hall
	</p>
</div>