<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="UCSD - NSF REU: University of California, San Diego - National Science Foundation Research Experience for Undergrads. The Department of Bioengineering at the University of California, San Diego is pleased to announce a National Science Foundation Research Experience for Undergraduates (NSF-REU) program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology."/>
		<meta name="keywords" content="UCSD, NSF, REU, University of California, San Diego, National Science Foundation, Research Experience for Undergraduates, Department of Bioengineering, regenerative medicine, multi-scale bioengineering, systems biology"/>
		<meta name="robots" content="index,follow"/>
		<meta name="revisit-after" content="14 days"/>
		<meta name="googlebot" content="index,follow"/>
		<title>NSF REU Application</title>
		<%= stylesheet_link_tag 'application' %>
	    <%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id="page">
			<%= yield %>
			<%= render :partial => "application/footer" %>
		</div> 
	</body>
</html>