<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>NSF REU Application</title>
	    <link href="stylesheets/application.css?1202786910" media="screen" rel="stylesheet" type="text/css" />
		<script src="javascripts/prototype.js?1202435957" type="text/javascript"></script>
		<script src="javascripts/effects.js?1202435957" type="text/javascript"></script>
		<script src="javascripts/dragdrop.js?1202435957" type="text/javascript"></script>
		<script src="javascripts/controls.js?1202435957" type="text/javascript"></script>
		<script src="javascripts/application.js?1202435957" type="text/javascript"></script>
	</head>
	<body>
		<div id="page">
			<%= yield %>
			<%= render :partial => "application/footer" %>
		</div> 
	</body>
</html>